<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/principal.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <header>
        <nav class="navi">
            <article class="navi__image">
                <a href="/"><img src="../imgs/logo-blanco.png" alt="Panic! At the Disco"></a>
            </article>
            <article class="navi__links">
                <a href="#"> Tour </a>
                <a href="#"> News </a>
                <a href="#"> Music </a>
                <a href="#"> Sing Up</a>
                <a href="/tienda"> Store </a>
                <a href="#"> <img  src="../imgs/carrito-blanco.png"></a>
            </article>
        </nav>
         <article class="publiInter">
        <img src="../imgs/interpubli.png" alt="">
        <div>
            <h1>
                This is our new Music player for your favorites songs
            </h1>
        </div>
    </article>
    </header>

   

    <article class="separer">
        <img src="../imgs/publicidad-negro.png" alt="">
    </article>

    <article class="album1">
        <h1>Pray for the Wicked</h1>
        <article class="album1__info">
            <img src="../imgs/survey2.png" alt="" >
             <div class="almbum1__info__descrip">
                 <h3>
                    <strong>Title</strong> 
                 </h3>
            {{#each cancionesAlbum1}} 
             <a href="/principal/cancion/{{this.id}}">
            <p>{{this.cancion}}</p>
            <br>
             </a>
         
            {{/each}}
               </div>
               <div class="almbum1__info__duration">
                    <h3>
                    <strong>Duration</strong> 
                 </h3>
             {{#each cancionesAlbum1}} 
              <p>{{this.duration}}</p>
              <br>
               {{/each}}
               </div>
           
        </article>
      

    </article>

<div class="separer_little">
 <img  src="../imgs/publicidad-negro.png" alt="">
</div>


     <article class="album1">
        <h1>Death of a Bachelor</h1>
        <article class="album1__info">
            <img src="../imgs/survey1.png" alt="" >
             <div class="almbum1__info__descrip">
                 <h3>
                    <strong>Title</strong> 
                 </h3>
            {{#each cancionesAlbum2}} 
             <a href="/principal/cancion/{{this.id}}">
            <p>{{this.cancion}}</p>
            <br>
             </a>
         
            {{/each}}
               </div>
               <div class="almbum1__info__duration">
                    <h3>
                    <strong>Duration</strong> 
                 </h3>
             {{#each cancionesAlbum2}} 
              <p>{{this.duration}}</p>
              <br>
               {{/each}}
               </div>
           
        </article>
      

    </article>
<div class="separer_little">
 <img  src="../imgs/publicidad-negro.png" alt="">
</div>

     <article class="album1">
        <h1>Too Weird to Live, Too Rare to Die!</h1>
        <article class="album1__info">
            <img src="../imgs/survey3.jpg" alt="" >
             <div class="almbum1__info__descrip">
                 <h3>
                    <strong>Title</strong> 
                 </h3>
            {{#each cancionesAlbum3}} 
             <a href="/principal/cancion/{{this.id}}">
            <p>{{this.cancion}}</p>
            <br>
             </a>
         
            {{/each}}
               </div>
               <div class="almbum1__info__duration">
                    <h3>
                    <strong>Duration</strong> 
                 </h3>
             {{#each cancionesAlbum3}} 
              <p>{{this.duration}}</p>
              <br>
               {{/each}}
               </div>
           
        </article>
      

    </article>
<div class="separer_little">
 <img  src="../imgs/publicidad-negro.png" alt="">
</div>

     <article class="album1">
        <h1>Vices and Virtues</h1>
        <article class="album1__info">
            <img src="../imgs/survey4.jpg" alt="" >
             <div class="almbum1__info__descrip">
                 <h3>
                    <strong>Title</strong> 
                 </h3>
            {{#each cancionesAlbum4}} 
             <a href="/principal/cancion/{{this.id}}">
            <p>{{this.cancion}}</p>
            <br>
             </a>
         
            {{/each}}
               </div>
               <div class="almbum1__info__duration">
                    <h3>
                    <strong>Duration</strong> 
                 </h3>
             {{#each cancionesAlbum4}} 
              <p>{{this.duration}}</p>
              <br>
               {{/each}}
               </div>
           
        </article>
      

    </article>


    
    <footer class="footer">
        <article class="footer__header"></article>
        <article class="footer__invitation">
            <h2>Suscribe for more!</h2>
        </article>
        <form class="footer__newsletter" action="">
            Email: <input type="text" name="fname"><br>
            <input class="footer__button" type="submit" value="Submit">
        </form>
        <article class="footer__social">
            <!--<img src="imgs/redes.png" alt="social network">-->
        </article>
    </footer>



    

</body>
</html>